@model PingOne.AspNetCore.Samples.Registration.Models.CreateUserViewModel

<h3> Create a New User </h3>

<br>

<form method="post" asp-action="CreateUser">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        @if (string.IsNullOrEmpty(Model.PasswordRegex))
        {
            <input asp-for="Password" class="form-control" />
        }
        else
        {
            <input asp-for="Password" class="form-control"
                   data-val-regex="Password does not meet policy requirements."
                   data-val-regex-pattern="@Model.PasswordRegex" />
        }

        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Population" class="control-label"></label>
        <select asp-for="Population" class="form-control" asp-items="Model.AllPopulations"></select>
        <span asp-validation-for="Population" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="PasswordRegex" class="form-control" />
    <div class="form-group">
        <input type="submit" value="Create user" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
