@model PingOne.AspNetCore.Samples.Registration.Models.PasswordRecoveryViewModel

<h3> Enter New Password </h3>
<br />

<form method="post" asp-action="PasswordRecovery">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RecoveryCode" class="control-label"></label>
        <input asp-for="RecoveryCode" class="form-control" />
        <span asp-validation-for="RecoveryCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        @if (string.IsNullOrEmpty(Model.PasswordRegex))
        {
            <input asp-for="Password" class="form-control" />
        }
        else
        {
            <input asp-for="Password" class="form-control"
                   data-val-regex="Password does not meet policy requirements."
                   data-val-regex-pattern="@Model.PasswordRegex" />
        }
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" class="form-control" />
    <input type="hidden" asp-for="Username" class="form-control" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <div class="form-group">
        <input type="submit" value="Resend Recovery Code" class="btn btn-primary" asp-controller="Management" asp-action="ResendCode" />
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}