
<p>Click "Register New User" to create a new user.</p>
<p>Click "Forgot Password" to recover password for an existing user.</p>

<div class="form-group">
    <a asp-controller="Management" asp-action="CreateUser">
        <input type="button" value="Register New User" class="btn btn-primary" />
    </a>
</div>
<div class="form-group">
    <a asp-controller="Management" asp-action="ForgotPassword">
        <input type="button" value="Forgot Password" class="btn btn-primary" />
    </a>
</div>
